[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/wootowa-server/wootowa-proj
Environment="PATH=/home/ubuntu/wootowa-server/wootowa-proj/.venv/bin"
ExecStart=/home/ubuntu/wootowa-server/wootowa-proj/.venv/bin/uwsgi --http :5000 --gevent 1000 --http-websockets --master --wsgi-file manage.py --callable app

[Install]
WantedBy=multi-user.target
